<!D0CTYPE html>
<html>
    <head>
        <title>Blog - New Post</title>
    </head>
    <center>
    <h1>Escribe algo lindo! :)</h1>
    <body>
        <form method="post">
        <div style="background-color: darkorange; width: 50%; height: auto;">
            <label>Titulo<br>
            <input type="text" name="subject"></label><br>
            <label>Contenido<br>
            <textarea  name="content" style="width: 70%; height: 200px;">{{cont}}</textarea>
            <div style="color:red">{{error}}</div>
            <button type="submit">Mandar</button>
            <button style="color:red"><a href="/">Volver</a></button>
        </div>
        </form>
    </body>
</center>
</html>
