<!D0CTYPE html>
<html>
    <head>
        <title>Blogs</title>
        <center><a href="/">Volver a pagina principal</a></h2></center>
        <div style="text-align:right">
        <a href="/newpost">Manda uno nuevo!</a>
        <div>
    </head>
    <body>
        <form>
            <center>
              <div style="width:75%;height:auto;border:solid black 1px; padding:2px; background-color: darkorange; word-wrap: break-word">
              <h2>{{post.subject}}</h2><br>
              {{post.content.replace('\n', "<br>")}}
              <br>
              <br>
              <div style="text-align: right">{{post.created}}</div>
              <div style="text-align: left">Enviado por: {{post.autor}}</div>
              <hr>
              </div>
            </center>
        </form>
    </body>
</html>
